*.vs

# Build artifacts
*.exe
*.dll
*.lib
*.obj
*.o
*.pdb
*.ilk
*.idb
*.exp
*.manifest
*.tlog
*.lastbuildstate
*.log
*.pch

# Visual Studio temporary files
*.suo
*.user
*.ncb
*.sln.docstates
*.filters
*.cache
*.VC.db
*.VC.opendb

# Directories
bin/
obj/
Debug/
Release/
x64/
ipch/